<!DOCTYPE html>
<html>
    <head>
        <title>OSP team 6</title>
	<script language = "javascript">
	// function showPopup() { window.open{"word_analyze_result.html", "a", "width=400, height =400, left = 100, top=50");}
	</script>
    </head>
    <body>
        <script type = 'text/javascript' src = "{{url_for('static', filename='table.js') }}"></script>

        <h1>welcome</h1>
        <form method="POST" action="/insert_data">
            URL <input name="url" type="text"><br>
            <button type="submit"> Submit </button>
        </form>

        <form method="POST" action="/insert_file" enctype="multipart/form-data">
            <input name="file1" type="file" name="filename">
            <input type="submit" value="Submit">
        </form>
        <span>{{ state }}</span>

        <hr>
        <h1>Result</h1>
        <h3>URL : {{url}} </h3>

        <div id="tablediv" style="width : 1025px;">
            <table border="1">
                <tr>
                    <td>url</td>
                    <td>처리 시간</td>
                    <td>전체 단어 수</td>
                    <td>단어 분석</td>
                    <td>유사도 분석</td>
                </tr>
                {% for key, value in data_list.items() %}
                <tr>
                    {% set thisurl = "" %}
                    {% for index, data in value.items() %}
                        {% if index != "words" and index != "flag" %}
                            {% if index == url %}
                                {% set thisurl = data %}
                            {% endif %}
                            <td>{{ data }}</td>
                        {% endif %}
                    {% endfor %}
                    <td><form method="POST" action="/words_func"><input name="wordurl" type="hidden" value={{ thisurl }}><input type=submit value="단어 분석"></form></td>
                    <td><form method="POST" action="/cosine_func"><input name="cosurl" type="hidden" value={{ thisurl }}><input type=submit value="유사도 분석"></form></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </body>
</html>
